@account-menu-theme: "luma";
@account-menu-toggle-selector: ~".action.show-account-menu";
@account-menu-option-selector: ~".header.links";

// Use Magento Blank
.lib-account-menu-dropdown() when not (@account-menu-theme = "luma") {
    @account-menu-position-right: 0;
    @account-menu-icon-font-size: 33px;
    @account-menu-icon-line-height: 33px;

    .lib-dropdown(
        @_toggle-selector: @account-menu-toggle-selector,
        @_options-selector: @account-menu-option-selector,
        @_dropdown-toggle-icon-content: @icon-account,
        @_dropdown-toggle-active-icon-content: @icon-account,
        @_dropdown-list-min-width: 150px,
        @_dropdown-list-item-padding: 3px,
        @_dropdown-list-item-hover: false,
        @_dropdown-list-position-right: @account-menu-position-right,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 10px,
        @_icon-font-position: before,
        @_icon-font-size: @account-menu-icon-font-size,
        @_icon-font-line-height: @account-menu-icon-line-height,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color,
        @_dropdown-actions-padding: 5px
    );
}

// Use Magento Luma
.lib-account-menu-dropdown() when (@account-menu-theme = "luma") {
    @account-menu-position-right: -5px;
    @account-menu-icon-font-size: 24px;
    @account-menu-icon-line-height: 28px;

    .lib-dropdown(
        @_toggle-selector: @account-menu-toggle-selector,
        @_options-selector: @account-menu-option-selector,
        @_dropdown-toggle-icon-content: @icon-account,
        @_dropdown-toggle-active-icon-content: @icon-account,
        @_dropdown-list-min-width: 150px,
        @_dropdown-list-item-padding: 3px,
        @_dropdown-list-item-hover: false,
        @_dropdown-list-position-right: @account-menu-position-right,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 10px,
        @_icon-font-position: before,
        @_icon-font-size: @account-menu-icon-font-size,
        @_icon-font-line-height: @account-menu-icon-line-height,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color,
        @_dropdown-actions-padding: 5px
    );
}

& when (@media-common = true) {
    .account-menu-wrapper {
        .lib-account-menu-dropdown();
        position: relative;
        float: right;
        display: inline-block;

        @{account-menu-toggle-selector} {
            .lib-button-as-link();

            &,
            &:active {
                box-shadow: none;
            }

            .action-label {
                &:extend(.abs-visually-hidden all);
            }
        }

        .header.links {
            &:extend(.abs-reset-list all);
        }

        .account-menu {
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid @color-gray80;
                }

                > a,
                > strong {
                    display: block;
                    padding: 8px 12px;
                    color: inherit;
                    cursor: pointer;
                }

                > a {
                    &:hover {
                        background-color: @color-gray91;
                        text-decoration: none;
                    }
                }
            }
        }

        &:not(.active) {
            .account-menu {
                display: none;
            }
        }
    }
}

/* prettier-ignore */
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .account-menu-wrapper {
        margin-top: 10px;

        & when (@account-menu-theme = "luma") {
            margin-right: 10px;
        }
    }
}

/* prettier-ignore */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .account-menu-wrapper {
        margin-left: 13px;
    }
}
